// font-size

$primary-title-fz: 64px;

$primary-title-fz_mobile: 42px;

$title-fz: 36px;

$title-fz_mobile: 28px;

$sub-title-fz: 28px;

$sub-title-fz_mobile: 22px;

$big-fz: 24px;

$big-fz_mobile: 20px;

$standart-fz: 18px;

$standart-fz_mobile: 14px;

// color

$red: #FF1162;

$blue: #4C7ED7;

$orange: #FF8209;

$yellow: #F3DE1A;

$purple: #642CFC;

$primary-color: #333333;

$contrast-color: #ffffff;

$footer-color: #292D36;

// font family 

$standart-ff: 'Poppins', sans-serif;
